.icon-color path {
    fill: #5D5D5D; /* 修改颜色 */
}
.header-btn {
    display: flex;               /* 设置为 Flex 布局 */
    align-items: center;         /* 垂直居中 */
    justify-content: center;     /* 水平居中 */
    background-color: transparent; /* 按钮背景色透明 */
    border: none;                /* 去掉按钮边框 */
    padding: 6px;               /* 按钮的内边距 */
    border-radius: 6px;         /* 圆角 */
    transition: background-color 0.3s ease; /* 背景颜色过渡效果 */
}

.header-btn:hover {
    background-color: #ececec;   /* hover 时背景颜色 */
    binding: inherit;
}
/* header.css */

.offcanvas {
    background-color: #f9f9f9;
    border-top-right-radius: 25px;  /* 右上角圆角 */
    border-bottom-right-radius: 25px;  /* 右下角圆角 */
    border-right: 1px solid #333 !important;  /* 右边框设置为明显的颜色和宽度 */

}