<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film Marker</title>
    {% load static %}
    <script type="module" src={% static 'js/api/film_api.js' %}></script>
</head>
<body>
<form method="post">
    {% csrf_token %}
</form>
    <h1>Film Marker</h1>

    <div>
        <h2>Your Marked Films</h2>
        <button onclick="getUserMarkers()">Show Your Marked Films</button>
        <div id="user-markers">
            <!-- User's marked films will be displayed here -->
        </div>
    </div>

    <div>
        <h2>Actions</h2>
        <button onclick="addMarker()">Add Film to Your Marked Films</button>
        <button onclick="removeMarker()">Remove Film from Your Marked Films</button>
    </div>

</body>
</html>
